<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SOS</title>
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <div class="container flex-center">
      <div class="board flex-center">
        <div
          data-cell=""
          class="cell flex-center"
          onclick="handleClick(this)"
        ></div>
        <div
          data-cell=""
          class="cell flex-center"
          onclick="handleClick(this)"
        ></div>
        <div
          data-cell=""
          class="cell flex-center"
          onclick="handleClick(this)"
        ></div>
        <div
          data-cell=""
          class="cell flex-center"
          onclick="handleClick(this)"
        ></div>
        <div
          data-cell=""
          class="cell flex-center"
          onclick="handleClick(this)"
        ></div>
        <div
          data-cell=""
          class="cell flex-center"
          onclick="handleClick(this)"
        ></div>
        <div
          data-cell=""
          class="cell flex-center"
          onclick="handleClick(this)"
        ></div>
        <div
          data-cell=""
          class="cell flex-center"
          onclick="handleClick(this)"
        ></div>
        <div
          data-cell=""
          class="cell flex-center"
          onclick="handleClick(this)"
        ></div>
      </div>
      <div class="score-container flex-center">
        <div class="score flex-center">
          <svg class="o" viewBox="0 0 128 128">
            <path d="M64,16A48,48 0 1,0 64,112A48,48 0 1,0 64,16"></path>
          </svg>
          <span class="o-score">0</span>
        </div>
        <div class="score flex-center">
          <svg class="x" viewBox="0 0 128 128">
            <path d="M16,16L112,112"></path>
            <path d="M112,16L16,112"></path>
          </svg>
          <span class="x-score">0</span>
        </div>
      </div>
    </div>
    <script src="../js/app.js" defer></script>
  </body>
</html>
