*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
/** variables */
:root {
  --main-color: #12bdac;
  --main-color-dark: #0aa192;
  --white: #fff;
  --black: #000;
  --dark-one: #545454;
  --icon-o: #545454;
  --icon-x: #f2ead3;
  --gray: #ddd;
  --border-width: 5px;
}
/** common classes **/
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  flex-direction: column;
}
.board {
  width: 440px;
  height: 440px;
  flex-wrap: wrap;
  border-radius: 20px;
}
.cell {
  width: 31.33%;
  min-width: 31.33%;
  height: 31.33%;
  cursor: pointer;
}
.cell.match svg {
  animation: matched 0.1s ease alternate 6;
}
@keyframes matched {
  to {
    transform: scale(1.1);
  }
}
.cell:nth-of-type(2),
.cell:nth-of-type(8) {
  border-left: var(--border-width) solid var(--main-color-dark);
  border-right: var(--border-width) solid var(--main-color-dark);
}
.cell:nth-of-type(5) {
  border: var(--border-width) solid var(--main-color-dark);
}
.cell:nth-of-type(4),
.cell:nth-of-type(6) {
  border-top: var(--border-width) solid var(--main-color-dark);
  border-bottom: var(--border-width) solid var(--main-color-dark);
}
.icon {
  width: 60px;
}
.icon-o {
  fill: var(--icon-o);
}
.icon-x {
  fill: var(--icon-x);
}
.score-container,
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}
.score {
  flex-direction: column;
  margin: 55px;
}
.score svg {
  width: 30px;
  stroke-width: 5px;
  fill: transparent;
}
.score svg.o {
  stroke: var(--icon-o);
}
.score svg.x {
  stroke: var(--icon-x);
}
.score span {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark-one);
  margin-top: 20px;
  font-weight: bold;
}
